.DS_Store
.DS_store
.DS_Store
api_keys.txt

/makeTemplate/scripts/.DS_store
/makeTemplate/out/mock_data.json
/templates
/getJSON/JSONout
/output_pdfs
/makeTemplate/out
/getJSON/__pycache__

test.ipynb
/makeTemplate/out/
/getJSON/visResults.ipynb

/getJSON/outJSON