# PDF Benchmarking Requirements
pandas
seaborn
matplotlib
requests
pillow

# LLM APIs
openai
numpy
pdf2image

# Local LLM support
transformers
torch
accelerate
sentencepiece
flash-attn


#ollama
ollama

timm
